# "Buddy? I know you're only a {file}, so I don't expect you to understand what I'm gonna say.
# You can't come home with me. That guy'll just come and take you back.
# You gotta understand that -- well, Buddy, I found you. Somebody else is gonna find you too.
# I know they'll love you, so I'm gonna set you free. Here, I got you a little something.
# Stupid thing. I wish I could go back to before I ever knew you could make a basket.
# Maybe none of this would've ever happened. Go on, Buddy. You're free now. Go! Go on.
# [Sighs] Buddy! Get. You have to go, Buddy. Please, Buddy. Go. [Crying] Get!
# Go! Get out of here! Don't you understand? Get! I don't want you anymore!"

.DS_Store